
/*          HEADER          */
#header {
    background-color: #000 ;
    color: #FFF;
    padding: 10px 20px;
}
#header h1 {
    color: #FFF;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}
#header li {
    float: left;
    margin: 0 15px 0 0;
}
#header ul a {
	color: #FFF;
	text-decoration: blanchedalmond;
}
#header ul a:hover {
    color: #F00;
}
/*                                  */